In [2]:
import pandas as pd

# Convertir el diccionario de materias en un DataFrame
df_materias = pd.DataFrame.from_dict(materias, orient='index', columns=['Nombre', 'Créditos', 'Programa'])
df_materias.index.name = 'ID Materia'

# Convertir el diccionario de programas en un DataFrame
df_programas = pd.DataFrame.from_dict(programas, orient='index', columns=['Nombre del Programa'])
df_programas.index.name = 'ID Programa'

# Mostrar los DataFrames
from IPython.display import display

print("Materias:")
display(df_materias)
print("\nProgramas:")
display(df_programas)

Materias:

                           Nombre  Créditos Programa
ID Materia
101              Ciencia de Datos         6      001
102         Sistemas Inteligentes         8      003
103         Control de Producción         7      001
104                     Química 1         2      002

Programas:

                Nombre del Programa
ID Programa
001           Ingeniería Industrial
002            Ingeniería Ambiental
003          Ingeniería Mecatrónica